.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

/* Footer styling */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0; /* Reduced padding */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 10px; /* Reduced horizontal padding */
}

.footer-section {
  flex: 1;
  margin: 10px; /* Reduced margin */
  max-width: 250px; /* Reduced max width */
}

.footer-section h2 {
  margin-bottom: 8px; /* Reduced margin */
}

.footer-section p,
.footer-section span,
.footer-section a {
  color: #fff;
  text-decoration: none;
  margin: 5px 0; /* Uniform margin for elements */
}

.footer-section .contact span {
  display: block;
  margin: 5px 0;
}

.footer-section .socials a {
  margin: 0 8px; /* Reduced margin */
  color: #fff;
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.footer-section .socials a:hover {
  color: #f4f4f4;
}

.footer-bottom {
  margin-top: 10px; /* Reduced margin */
  padding: 5px 0; /* Reduced padding */
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      margin: 10px 0;
      text-align: center;
  }
}
