.footer {
  background: linear-gradient(45deg, #8724ff8d, #730fffa8);
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 10px 20px;
  min-width: 200px;
  max-width: 300px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.footer-section p, .footer-section .contact span {
  color: #ccc;
  font-size: 1em;
}

.footer-section .socials a {
  display: block;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

.footer-section .socials a:hover {
  text-decoration: underline;
}

.footer-section .links ul {
  list-style: none;
  padding: 0;
}

.footer-section .links ul li {
  margin-bottom: 10px;
}

.footer-section .links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section .links ul li a:hover {
  text-decoration: underline;
}

.text-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.btn:hover {
  background-color: #0056b3;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9em;
}

ul {
  list-style-type: none;
}

@media (max-width: 768px) {
  .footer-section {
    max-width: calc(50% - 40px);
    margin: 10px 20px;
  }
}

@media (max-width: 480px) {
  .footer-section {
    max-width: calc(100% - 40px);
    margin: 10px 20px;
  }
}
