body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Footer styling */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 20px;
    max-width: 300px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section p,
.footer-section span,
.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section .contact span {
    display: block;
    margin: 5px 0;
}

.footer-section .socials a {
    margin: 0 10px;
    color: #fff;
}

.footer-section .socials a:hover {
    color: #f4f4f4;
}

.footer-bottom {
    margin-top: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
        text-align: center;
    }
}
