.about-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    max-width: auto;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-container h2 {
    font-size: 2em;
    color: #0073e6;
    margin-bottom: 10px;
  }
  
  .about-container h3 {
    font-size: 1.5em;
    color: #005bb5;
    margin-top: 20px;
  }
  
  .about-container h4 {
    font-size: 1.2em;
    color: #003366;
    margin-top: 15px;
  }
  
  .about-container p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-author {
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 4px solid #0073e6;
  }
  