.contact-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-section {
    margin-bottom: 20px;
  }
  
  .contact-section h3 {
    font-size: 1.5em;
    color: #0073e6;
    margin-bottom: 10px;
  }
  
  .contact-section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  