.home-container {
  /* font-family: Arial, sans-serif; */
  color: #333;
  padding: 20px;
  max-width: auto;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.home-container h1 {
  font-size: 2.5em;
  color: #0073e6;
  margin-bottom: 10px;
  font-size: 2.5em;
  color: #0073e6;
  margin-bottom: 10px;
}

.home-container h2 {
  font-size: 1.8em;
  color: #005bb5;
  margin-top: 20px;
}

.home-container p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  
}

.home-container ul {
  list-style-type: none;
  margin-left: 20px;
}

.home-container ul li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.home-container a {
  color: #0073e6;
  text-decoration: none;
}

.home-container a:hover {
  text-decoration: underline;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: auto;
  padding: 20px;
}

.text {
  flex: 1;
  padding-right: 20px;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100%;
  height: auto;
}

