.templates-container {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 10px;
  max-width: auto;
  margin: 0 auto;
}

.templates-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.template-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 50%;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  
}

.template-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.template-card h3 {
  align-self: flex-start;
  font-size: 1.5em;
  color: #0073e6;
  margin-bottom: 10px;
}

.template-card p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 10px;
 
}

.template-card a {
  font-size: large;
  color: #730fffa8;
  text-decoration: none;
  font-size:x-large;

}

.template-card a:hover {
  text-decoration: underline;
}

/* .template-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 50%;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  position: relative;
}

.template-card:before {
  content: '';
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
} */